
.day-display-container{
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.day-card{
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: white;
  color: black;
}

.day-meal-info{
  width: 300px;
  height: 20px;
  display: flex;
  flex-direction: column;
  // background: pink;
}

.time-row{
  display: flex;
  // align-items: center;
  justify-content: space-between;
  width: 285px;
  height: 55px;
  margin: 7px;
  border: solid black 1px;
  // background: pink;

  span{
    display: flex;
    align-items: center;
  }
}

.day-recipe-delete{
  width: 15px;
  margin-left: 10px;
  margin-right: 10px;

  &:hover{
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
  }
}