.meal-plan-container{
  width: 100vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.shopping-cart-button{
  position: absolute;
  top: 52%;
  left: 79%;
  background: linear-gradient(to right, #4cb7ca, #2d3acd);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  font-size: 20px;
  border-radius: 5em;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-right: 8px;
  text-decoration: none;
}
.shopping-cart-button:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}