.meal-plan-container{
  width: 100vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.meal-planner-name{
  position:absolute;
  text-align:center;
  width: 22vw;
  top: 65%;
  left: 76%;
  color: black;
  padding: 5px 10px;
  font-family: "Trebuchet MS", sans-serif;
  margin-top: 5px;
  background: rgb(15, 134, 138);
  box-shadow: 0 0 6px rgb(41, 185, 82), 0 0 3px beige inset;
  padding: 0.5em 1.3em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: "Arial Black", sans-serif;
  font-size: 1em;
  letter-spacing: -1px;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.shopping-cart-button{
  position: absolute;
  top: 75%;
  left: 80%;
  background: linear-gradient(to right, #4cb7ca, #2d3acd);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  font-size: 16px;
  border-radius: 5em;
  border: 0;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-right: 8px;
  text-decoration: none;
}
.shopping-cart-button:hover {
  cursor: pointer;
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}