.meal-plan-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-day-box{
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: pink;
  flex-wrap: wrap;

}

.day-box{
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  // flex-wrap: wrap;
  background: white;
  color: black;
  margin: 10px;

}

.day-box-delete{
    width: 15px;
    margin-left: 10px;
    &:hover{
      cursor: pointer;
      transition: all .3s ease-in-out;
      transform: scale(1.5);
    }
}