.search {
  flex-direction: column;
  width: 100vw;
  height: 86vh;
  flex-wrap: wrap;
  background-image: url("https://i.pinimg.com/originals/46/15/79/4615790054e53633ee2e8ebd9d871b66.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.textfield-container{
  width: 40vw;
  margin: 1rem 2rem;
}
.search-input {
  width: 80%;
  border: 2.5px solid #416ec2;
  border-right: none;
  padding: 5px;
  height: 4.5vh;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.drop-down{
  width: 40vw;
  margin: 1rem;
}


.search-input:focus{
  color: #00B4CC;
}

.search-result {
  flex-direction: column;
  align-items: center;
  padding: 0.20rem;
  margin: 1rem;
  width: 8.5rem;
  height: 8.5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #416ec2;
}

.search .textfield-container {
  align-items: center;
}

.search-result img {
  width: 5rem;
  height: 5rem;
  margin: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.search-result img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.recipe-result {
  display:flex;
}

.search-result-box {
  margin: 0rem 2rem;
  width: 40vw;
  height: 66vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  // border: 3px solid #416ec2;
  // border-radius: 5px 5px 5px 5px;
  background: hsla(96, 6%, 84%, 0.781);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-button {
    width: 100px;
    height: 34px;
    border: 1px solid #416ec2;
    background: #416ec2;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.drop-down {
  width: 42.5vw;
  border: 3px solid #416ec2;
  border-radius: 5px 5px 5px 5px;
}
