.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
  width: 100%;
}

* {
  box-sizing: border-box;
}

div,
main,
section,
a,
dl,
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
