.nav-background {
  background-color: #3e4a61;
  padding: 0.5rem;
  min-width: 100%;
  justify-content: center;
}

.nav {
  justify-content: space-between;
  width: 80%;
}

.nav label {
  margin-right: 0.5rem;
}

.nav a {
  margin: 0 0.5rem;
}

.nav a:hover {
  text-decoration: none;
}

.nav a:visited {
  color: inherit;
  text-decoration: none;
}

.nav a:active {
  color: inherit;
  text-decoration: none;
}
