.nav-background {
  background-color: #416ec2;
  padding: 0.5rem;
  min-width: 100%;
  justify-content: center;
  height: 12vh;
  width: 100vw;
}


.nav {
  justify-content: space-between;
  width: 95%;
  align-items: center;
  display: flex;
}

.m2p-logo {
  height: 10vh;
  width: 15vw;
}

.nav-tabs {
  justify-content: space-between;
  width: 30%;
  align-items: center;
  display: flex;
}

.search-img {
  height: 6vh;
  width: 4vw;
  background-color: white;
  background-position: cover;
  padding: 5px;
  border-radius: 60%;
  border: 1px solid #7b90bb;
}

.planner-img {
  height: 6vh;
  width: 4vw;
  background-color: white;
  background-position: cover;
  padding: 5px;
  border-radius: 60%;
  border: 1px solid #7b90bb;
}

.profile-img {
  height: 6vh;
  width: 4vw;
  background-position: cover;
  padding: 1px;
  border-radius: 60%;
  border: 1px solid #7b90bb;
}

.profile-btn {
  height: 6vh;
  width: 4vw;
  background-position: cover;
  padding: 0px;
  border-radius: 60%;
  border: 1px solid #7b90bb;
}

.nav label {
  margin-right: 0.5rem;
}

.nav a {
  margin: 0 0.5rem;
}

.nav a:hover {
  text-decoration: none;
}

.nav a:visited {
  color: inherit;
  text-decoration: none;
}

.nav a:active {
  color: inherit;
  text-decoration: none;
}

.logout:hover {
  cursor: pointer;
  color: lightgreen;
}

.options {
  display: flex;
  flex-direction: column;
}
