.auth-box { 
    padding: 20%;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71VgmMSxYWL._SL1100_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    display: flex;
    flex-direction: column;

}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 30vw;
    height: 40vh;
    position: relative;
} 

.profile-photo {
    width: 30%;
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 5rem;
    width: 35vw;
    height: 40vh;
} 

.register {
    text-align: center;
    align-items: center;
    font-style: oblique;
}

input {
    width:15vw;
    height:2vh;
    margin: 8px;
}

.logo {
    position: relative;
    width: 100vw;
    height: 100vh;
}