.auth-box {
  padding: 15%;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71VgmMSxYWL._SL1100_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 30vw;
    height: 55vh;
    margin: 1rem;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
} 

.auth-box .profile-photo {
  width: 20%;
}

.auth-box .register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  width: 35vw;
  height: 50vh;
  padding: 3rem;
}

.auth-box .login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  width: 30vw;
  height: 16vh;
  background: white;

}

.auth-box .register {
  text-align: center;
  align-items: center;
  font-style: oblique;
}

.auth-box input {
  width: 15vw;
  height: 2vh;
  margin: 8px;
}

.auth-input{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.auth-button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #b74cca, #752483);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}