.auth-box {
  padding: 20%;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71VgmMSxYWL._SL1100_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.auth-box .box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 30vw;
  height: 40vh;
}

.auth-box .profile-photo {
  width: 20%;
}

.auth-box .register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  width: 35vw;
  height: 40vh;
  padding: 3rem;
}

.auth-box .login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  width: 30vw;
  height: 16vh;
}

.auth-box .register {
  text-align: center;
  align-items: center;
  font-style: oblique;
}

.auth-box input {
  width: 15vw;
  height: 2vh;
  margin: 8px;
}
